.routes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
  justify-content: space-around;
  border: 1px solid red;
  a {
    color: grey;
    font-size: 1rem;
    text-transform: uppercase;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
  }
}